<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>

<body>
<h2>Информация о книге</h2>
<div th:object="${book}" th:with="isAvailable = ${book.availability}">
    <strong>ID книги:</strong>
    <span th:text="${book.id}"></span><br>
    <strong>Название книги:</strong>
    <span th:text="${book.title}"></span><br>
    <strong>Автор книги:</strong>
    <span th:each="author :${book.author}">
        <span th:text="${author.firstname}"></span>
        <span th:text="${author.lastname}"></span>
    </span><br>
    <strong>Дата публикации:</strong>
    <span th:text="${book.publicationDate}"></span><br>
    <strong>Количество страниц:</strong>
    <span th:text="${book.pageCount} + ' ' + 'стр.'"></span>
    <div th:if="${isAvailable}">
        <h3 style="color: green">книга свободна</h3>
        <div th:unless="${isAvailable}">
            <h3 style="color: red"> книга занята</h3>
        </div>
    </div>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
<a th:href="@{/books/{id}/edit(id=${book.id})}" sec:authorize="hasAuthority('ADMIN')">
    <button type="submit">Изменить данную книгу</button>
</a>
<form th:action="@{/books/{id}(id=${book.id})}" th:method="DELETE"
      onsubmit="return confirm('Вы уверены, что хотите удалить эту книгу?');">
    <button type="submit">Удалить данную книгу</button>
</form>
</div>
<a href="/books">
    <button>К списку книг</button>
</a>
</body>
</html>