<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save user</title>
</head>
<body>
<h3>Добавить нового пользователя</h3>
<form th:object="${newUser}" th:action="@{/users}" th:method="POST">
    <strong>Имя пользователя:</strong>
    <input type="text" th:field="*{firstname}"><br/>
    <strong>Фамилия пользователя:</strong>
    <input type="text" th:field="*{lastname}"><br/>
    <strong>Email пользователя:</strong>
    <input type="email" th:field="*{email}"><br/>
    <strong>Пароль пользователя:</strong>
    <input type="password" th:field="*{password}"><br/>
    <strong>Дата рождения (формат дд.ММ.гггг):</strong>
    <input type="text" th:field="*{birthday}"><br/>
    <button>Сохранить</button>
</form>
<br/>
<a th:href="@{/users}">
    <button>Назад</button>
</a>

</body>
</html>