<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h2>Список всех книг:</h2>

<div th:if="${#lists.isEmpty(books)}">
    <h2 style="color: red">
        Доступных книг нет...</h2>
</div>

<div th:each="book :${books}">
    <span th:text="${book.id}">ID: </span>
    <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}"></a>
</div>

<div>
    <a href="/books?save">
        <button>Добавить новую книгу</button>
    </a>
</div>
</body>
</html>