<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>

<body>
<h2>Информация о книге</h2>
<div th:object="${book}" th:with="isAvailable = ${book.availability}">
    <strong>ID книги:</strong>
    <span th:text="${book.id}"></span><br>
    <strong>Название книги:</strong>
    <span th:text="${book.title}"></span><br>
    <strong>Автор книги:</strong>
    <span th:each="author :${book.author}">
        <span th:text="${author.firstname}"></span>
        <span th:text="${author.lastname}"></span>
    </span><br>
    <strong>Дата публикации:</strong>
    <span th:text="${book.publicationDate}"></span>
    <div th:if="${isAvailable}">
        <h3 style="color: green">книга свободна</h3>
        <form action="">
            <label>Назнчить книгу</label>
            <input type="text">
        </form>
    </div>
    <div th:unless="${isAvailable}">
        <h3 style="color: red"> книга занята</h3>
    </div>
</div>
<a href="/books">
    <button>К списку книг</button>
</a>
</body>
</html>