<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library home</title>
</head>
<body>
<h2>Добро пожаловать на главную страницу библиотеки</h2>
<img th:src="@{/images/LibraryImage.jpg}" alt="Библиотека" align="middle"><br>
<a href="/books">
    <button>К списку книг</button>
</a><br/>

<a href="/users">
    <button>К списку пользователей</button>
</a>
<br/>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>

</body>
</html>