<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page for save book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${savedBook}">

    <label>Введите название книги:</label>
    <input type="text" th:field="*{title}"><br>

    <label for="author">Выберете автора книги:</label>
    <a th:href="@{/books/appoint}" id="author">Назначить автора
    </a><br>

        <label for="publicationDate">Введите дату публикации:</label>
        <input type="date" th:field="*{publicationDate}" id="publicationDate" name="publicationDate"><br>

    <label for="drama">Выберете жанр:</label>
    <select name="genre" id="drama">
        <div th:each="gen : ${genres}">
            <option th:value="${gen}" th:text="${gen}"></option>
        </div>
    </select><br>

    <!--    <div th:with="countPage=${savedBook.pageCount ==0}">-->
    <!--        <label>Введите количество страниц:</label>-->
    <!--        <input th:if="countPage" type="number" th:field="*{pageCount}"><br>-->
    <!--        <input th:unless="countPage" type="number" th:value="${savedBook.pageCount}" th:field="*{pageCount}"><br>-->
    <!--    </div>-->

    <input type="number" th:field="*{pageCount}"><br>
    <div>
        <label>Сделать доступной сразу?</label><br>
        <label for="radioYes">ДА</label>
        <input type="radio" value="true" name="availability" id="radioYes" checked>
        <label for="radioNo">НЕТ</label>
        <input type="radio" value="false" name="availability" id="radioNo">
    </div>
    <input type="submit" value="Отправить!">
</form>
</body>
</html>